<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to QR Code Application</h1>
        
        <p>Select an option below:</p>
        
        <div class="buttons">
            <a href="/generate" class="btn">Generate QR Code</a>
            <a href="/read" class="btn">Read QR Code</a>
            <br><br><br><br>
            <a id="logout-button" class = "btn">Logout</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='signout_script.js') }}"></script>
</body>
</html>
